@charset "UTF-8";

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-SemiBold.woff2") format("woff2"), url("../fonts/Roboto-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Roboto_Condensed;
  font-display: swap;
  src: url("../fonts/Roboto_Condensed-Bold.woff2") format("woff2"), url("../fonts/Roboto_Condensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/RobotoSlab-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

/*===========tech================================*/

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main {
  overflow: hidden;
}

._lock {
  overflow: hidden;
}

._container {
  max-width: 1190px;
  padding: 0px 15px;
  width: 100%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0;
}

.mobile {
  display: none !important;
}

/*===========header================================*/

.header {
  background: #07274d;
  border-bottom: 10px solid #fff;
  position: relative;
  z-index: 99;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0px 15px;
  max-width: 1325px;
  margin: 0 auto;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 376px;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  aspect-ratio: 4/1;
}

.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu__icon {
  width: 25px;
  aspect-ratio: 1/1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  display: none;
}

.menu__icon span {
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 8px;
  position: relative;
}

.menu__icon span::before,
.menu__icon span::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 8px;
}

.menu__icon span::before {
  position: absolute;
  top: 7px;
  left: 0;
}

.menu__icon span::after {
  position: absolute;
  bottom: 7px;
  left: 0;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 70px;
}

.menu__list li {
  white-space: nowrap;
}

.menu__list li a {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: right;
  color: #fff;
  font-family: Roboto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__list li a:hover {
  color: #cedae4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  margin-left: 25px;
}

.header__button {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  height: 52px;
  color: #007bd8;
  font-family: Roboto_Condensed;
  background: #cedae4;
  border-radius: 1000px;
  padding: 12px 25px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header__button:hover {
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*===========hero================================*/

.hero {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  max-height: 500px;
}

.hero__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 127px 0px 46px;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.hero__title {
  font-family: RobotoSlab;
  font-weight: 700;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #fff;
  margin-bottom: 10px;
}

.hero__subtitle {
  font-family: Roboto_Condensed;
  font-weight: 700;
  font-size: 23px;
  line-height: 170%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 10px;
}

.hero__button {
  border-radius: 100px;
  padding: 15px 26px 13px 26px;
  width: 167px;
  height: 50px;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  font-family: Roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #007bd8;
  border: 1px solid #007bd8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__button:hover {
  background: #fff;
  color: #007bd8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 40px;
  padding: 30px 20px;
  max-width: 748px;
  width: 100%;
  -webkit-box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.25);
  background: #e7f9ff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.hero__form-block-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 219%;
  text-align: center;
  color: #424242;
  font-family: Inter;
}

.hero__form-block-subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: #424242;
  margin-bottom: 52px;
  font-family: Inter;
}

.hero__form-block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 518px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__form-block-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

.hero__form-block-group input {
  font-family: Inter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  height: 72px;
  -webkit-box-shadow: -2px 2px 2px 0 rgba(10, 49, 97, 0.1);
          box-shadow: -2px 2px 2px 0 rgba(10, 49, 97, 0.1);
  background: #fafcff;
  padding: 0px 20px 0px 40px;
  font-weight: 400;
  font-size: 23px;
  line-height: 278%;
}

.hero__form-block-group input.error {
  -webkit-box-shadow: 0px 0px 4px 0px #ff0000;
          box-shadow: 0px 0px 4px 0px #ff0000;
}

.hero__form-block-group input::-webkit-input-placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 23px;
  line-height: 278%;
  color: rgba(0, 0, 0, 0.4);
}

.hero__form-block-group input::-moz-placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 23px;
  line-height: 278%;
  color: rgba(0, 0, 0, 0.4);
}

.hero__form-block-group input:-ms-input-placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 23px;
  line-height: 278%;
  color: rgba(0, 0, 0, 0.4);
}

.hero__form-block-group input::-ms-input-placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 23px;
  line-height: 278%;
  color: rgba(0, 0, 0, 0.4);
}

.hero__form-block-group input::placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 23px;
  line-height: 278%;
  color: rgba(0, 0, 0, 0.4);
}

.hero__form-block-button {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 155%;
  text-align: center;
  color: #fff;
  border-radius: 45px;
  padding: 14px 45px 14px 45px;
  width: 100%;
  max-width: 360px;
  height: 60px;
  background: #007bd8;
  margin: 35px 0px 0px;
  border: 1px solid #007bd8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.hero__form-block-button:hover {
  background: #fff;
  color: #007bd8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*===========register form================================*/

.register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 100px;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5764705882);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.register-form.show {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.register-form__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  padding: 65px 40px;
  width: 100%;
  max-width: 748px;
  margin: 0px 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 0px 4px 23px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 23px 0 rgba(0, 0, 0, 0.25);
  background: #e7f9ff;
}

.register-form__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 115%;
  text-align: center;
  color: #424242;
  font-family: Inter;
  margin-bottom: 15px;
}

.register-form__text {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: #ff5252;
  margin-bottom: 58px;
}

.register-form__body-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.register-form__body-close::before,
.register-form__body-close::after {
  content: "";
  width: 25px;
  height: 2px;
  background: #0a3161;
  border-radius: 8px;
}

.register-form__body-close::before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.register-form__body-close::after {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*===================About-section========================*/

.about-section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.about-section__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #cedae4;
  gap: 34px;
  padding: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.85fr 1.17fr;
  grid-template-columns: 0.85fr 1.17fr;
}

.about-section__top-left-title {
  font-family: RobotoSlab;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  color: #000;
  margin-bottom: 18px;
}

.about-section__top-left p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4625;
  color: #5e5e5e;
  padding-bottom: 25px;
}

.about-section__top-left p span {
  font-weight: 600;
}

.about-section__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 800px;
  padding: 11px 21px;
  width: 150px;
  height: 44px;
  background: #f7f7f7;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.35;
  color: #007bd8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about-section__button svg {
  width: 16px;
  height: 16px;
  fill: #007bd8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about-section__button:hover {
  background: #007bd8;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about-section__button:hover svg {
  fill: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about-section__top-right-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.about-section__top-right-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-section__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background: #cedae4;
  gap: 34px;
  padding: 50px;
}

.about-section__bottom-left-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.about-section__bottom-left-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-section__bottom-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  padding: 0;
  margin-bottom: 24px;
}

.about-section__bottom-right li {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.65;
  color: #5e5e5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: 21px;
  position: relative;
}

.about-section__bottom-right li::before {
  content: "";
  width: 3px;
  height: 3px;
  background: #5e5e5e;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 9px;
  font-size: 16px;
}

.about-section__bottom-right-title {
  font-family: RobotoSlab;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  color: #000;
  margin-bottom: 18px;
}

/*====================Сonsultation-section=======================*/

.consultation-section {
  padding: 120px 0px 100px;
}

.consultation-section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.consultation-section__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  padding-left: 50px;
  max-width: 520px;
}

.consultation-section__left h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 37px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  text-align: center;
  color: #000;
  margin-bottom: 5px;
  white-space: nowrap;
}

.consultation-section__left p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.65;
  text-align: center;
  color: #5e5e5e;
  margin-bottom: 38px;
}

.consultation-section__group-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 14px 20px;
  width: 195px;
  height: 42px;
  background: #007bd8;
  border: 1px solid #007bd8;
  color: white;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  border-radius: 800px;
  line-height: 1.35;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.consultation-section__group-button svg {
  width: 16px;
  height: 16px;
  fill: #fff;
  margin-left: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.consultation-section__group-button:hover {
  background: #fff;
  color: #007bd8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.consultation-section__group-button:hover svg {
  fill: #007bd8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.consultation-section__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  padding-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 520px;
}

.consultation-section__right h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 37px;
  width: 100%;
  line-height: 1.4;
  letter-spacing: -0.03em;
  text-align: center;
  color: #000;
  margin-bottom: 5px;
  white-space: nowrap;
}

.consultation-section__right p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.65;
  text-align: center;
  color: #5e5e5e;
  margin-bottom: 38px;
}

/*==================Сlaim-section=========================*/

.claim-section {
  padding: 24px 0px 100px;
}

.claim-section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.claim-section__top h2 {
  font-family: Inter;
  font-weight: 800;
  font-size: 52px;
  line-height: 1.34615;
  text-align: center;
  color: #424242;
  margin-bottom: 10px;
}

.claim-section__top p {
  font-family: Inter;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
  color: #424242;
  margin-bottom: 32px;
}

.claim-section__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 612px;
}

.claim-section__form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid #e7f9ff;
  border-radius: 10px;
  height: 72px;
  font-weight: 400;
  font-size: 23px;
  line-height: 278%;
  font-family: Inter;
  padding: 0px 20px 0px 40px;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
}

.claim-section__form input.error {
  -webkit-box-shadow: 0px 0px 4px 0px #ff0000;
          box-shadow: 0px 0px 4px 0px #ff0000;
}

.claim-section__form input::-webkit-input-placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 23px;
  line-height: 278%;
  color: rgba(0, 0, 0, 0.4);
}

.claim-section__form input::-moz-placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 23px;
  line-height: 278%;
  color: rgba(0, 0, 0, 0.4);
}

.claim-section__form input:-ms-input-placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 23px;
  line-height: 278%;
  color: rgba(0, 0, 0, 0.4);
}

.claim-section__form input::-ms-input-placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 23px;
  line-height: 278%;
  color: rgba(0, 0, 0, 0.4);
}

.claim-section__form input::placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 23px;
  line-height: 278%;
  color: rgba(0, 0, 0, 0.4);
}

.claim-section__form input.claim-section__submit-button {
  background: #007bd8;
  color: white;
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  max-width: 360px;
  height: 60px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.55;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: 1px solid #007bd8;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.claim-section__form input.claim-section__submit-button:hover {
  background: #fff;
  color: #007bd8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.claim-section__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.claim-section__form-group:not(:last-child) {
  margin-bottom: 20px;
}

/*====================Footer=======================*/

.footer {
  background: #06264d;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 0px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer__main-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__main-image {
  width: 161px;
  height: 161px;
  position: relative;
  margin-bottom: 25px;
}

.footer__main-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__main-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.footer__main-logo-facebook,
.footer__main-logo-linkedin,
.footer__main-logo-youtube {
  border-radius: 32px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #007bd8;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__main-logo-facebook svg,
.footer__main-logo-linkedin svg,
.footer__main-logo-youtube svg {
  width: 16px;
  height: 16px;
  fill: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__main-logo-facebook:hover,
.footer__main-logo-linkedin:hover,
.footer__main-logo-youtube:hover {
  background: #fff;
  color: #007bd8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__main-logo-facebook:hover svg,
.footer__main-logo-linkedin:hover svg,
.footer__main-logo-youtube:hover svg {
  fill: #007bd8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__top-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  padding-left: 30px;
}

.footer__top-center-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top-center-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.footer__top-center-navigation-menu a {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__top-center-navigation-menu a:hover {
  color: #cedae4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__top-right {
  padding-left: 44px;
}

.footer__top-right-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top-right-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.footer__top-right-navigation-menu a {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__top-right-navigation-menu a:hover {
  color: #cedae4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px 19px;
}

.footer__bottom p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.65;
  text-align: center;
  color: #fff;
}

.footer__bottom-copy {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.65;
  text-align: center;
  color: #fff;
}

@media (max-width: 1080px) {
  .header__logo {
    width: 300px;
  }

  .menu__list {
    gap: 40px;
  }

  .about-section__top,
  .about-section__bottom {
    padding: 30px;
  }

  .consultation-section__left h3,
  .consultation-section__right h3 {
    font-size: 28px;
  }

  .consultation-section__left,
  .consultation-section__right {
    padding: 0;
  }

  .claim-section__top h2 {
    font-size: 48px;
  }
}

@media (max-width: 992px) {
  .header__logo {
    width: 220px;
  }

  .menu__list li a {
    font-size: 16px;
  }

  .menu__list {
    gap: 20px;
  }

  .header__button {
    font-size: 16px;
    height: 35px;
    padding: 5px 20px;
  }

  .hero__button {
    font-size: 18px;
  }

  .hero__form-block-title {
    font-size: 28px;
  }

  .hero__form-block-subtitle {
    font-size: 18px;
  }

  .hero__form-block-group input {
    height: 50px;
    font-size: 18px;
    padding: 0px 20px;
  }

  .hero__form-block-group input::-webkit-input-placeholder {
    font-size: 18px;
  }

  .hero__form-block-group input::-moz-placeholder {
    font-size: 18px;
  }

  .hero__form-block-group input:-ms-input-placeholder {
    font-size: 18px;
  }

  .hero__form-block-group input::-ms-input-placeholder {
    font-size: 18px;
  }

  .hero__form-block-group input::placeholder {
    font-size: 18px;
  }

  .hero__form-block-button {
    font-size: 18px;
    margin-top: 20px;
  }

  .about-section__top {
    padding: 20px;
  }

  .about-section__top-left-title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .about-section__bottom-right-title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .about-section__bottom-right ul {
    gap: 15px;
  }

  .consultation-section__left h3,
  .consultation-section__right h3 {
    font-size: 24px;
  }

  .consultation-section {
    padding: 80px;
  }

  .claim-section__top h2 {
    font-size: 42px;
  }

  .claim-section__form input {
    height: 50px;
    font-size: 18px;
    padding: 0px 20px;
  }

  .claim-section__form input::-webkit-input-placeholder {
    font-size: 18px;
  }

  .claim-section__form input::-moz-placeholder {
    font-size: 18px;
  }

  .claim-section__form input:-ms-input-placeholder {
    font-size: 18px;
  }

  .claim-section__form input::-ms-input-placeholder {
    font-size: 18px;
  }

  .claim-section__form input::placeholder {
    font-size: 18px;
  }

  .claim-section__form-group:not(:last-child) {
    margin-bottom: 10px;
  }

  .claim-section__form input.claim-section__submit-button {
    font-size: 18px;
    margin-top: 20px;
  }

  .claim-section {
    padding-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 100;
  }

  .menu__icon.open span {
    background: transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 25px;
  }

  .menu__icon.open span::before {
    background: #0a3161;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0px;
  }

  .menu__icon.open span::after {
    background: #0a3161;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 0px;
  }

  .menu__body {
    position: absolute;
    top: 0%;
    background: #fff;
    right: 0;
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 15px 50px;
    right: -100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .menu__body.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    right: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 13px;
    margin-bottom: 30px;
  }

  .menu__list li a {
    color: #0a3161;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .header__buttons {
    margin: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo {
    width: 180px;
  }

  .hero__title {
    font-size: 26px;
  }

  .hero__subtitle {
    font-size: 18px;
    line-height: 140%;
  }

  .hero__button {
    font-size: 16px;
    width: 150px;
    height: 40px;
  }

  .hero__form-block {
    padding: 20px;
  }

  .hero__form-block-title {
    font-size: 22px;
    line-height: 120%;
    margin-bottom: 15px;
    max-width: 400px;
  }

  .hero__form-block-subtitle {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .hero__form-block-button {
    font-size: 16px;
    padding: 0;
    max-width: 180px;
    height: 40px;
  }

  .hero__form-block-group input {
    line-height: 100%;
    font-size: 16px;
  }

  .hero__form-block-group input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 100%;
  }

  .hero__form-block-group input::-moz-placeholder {
    font-size: 16px;
    line-height: 100%;
  }

  .hero__form-block-group input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 100%;
  }

  .hero__form-block-group input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 100%;
  }

  .hero__form-block-group input::placeholder {
    font-size: 16px;
    line-height: 100%;
  }

  .about-section__top {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .about-section__top-right-image {
    padding-bottom: 56%;
  }

  .about-section__top-left-title,
  .about-section__bottom-right-title {
    font-size: 22px;
  }

  .about-section__button {
    height: 40px;
  }

  .about-section__bottom {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .about-section__bottom-left-image {
    padding-bottom: 56%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .about-section__bottom-right ul {
    gap: 10px;
  }

  .consultation-section__left h3,
  .consultation-section__right h3 {
    font-size: 22px;
  }

  .consultation-section__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }

  .consultation-section__left,
  .consultation-section__right {
    max-width: 100%;
  }

  .consultation-section {
    padding: 60px 30px;
  }

  .claim-section__form input {
    line-height: 100%;
    font-size: 16px;
  }

  .claim-section__form input.claim-section__submit-button {
    font-size: 16px;
    padding: 0;
    max-width: 180px;
    height: 40px;
  }

  .claim-section__form {
    max-width: 450px;
  }

  .claim-section__top h2 {
    font-size: 28px;
  }

  .claim-section__top p {
    font-size: 18px;
  }

  .claim-section {
    padding-bottom: 60px;
  }

  .register-form__title {
    font-size: 28px;
  }

  .register-form__text {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .register-form__body {
    padding: 65px 40px 40px;
  }

  .register-form__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .register-form__text {
    font-size: 16px;
  }

  .register-form__body-close {
    top: 20px;
    right: 20px;
  }

  .footer__main-image {
    width: 120px;
    height: 120px;
  }

  .footer__top-right {
    padding-left: 10px;
  }

  .footer__top-center {
    padding-left: 30px;
  }

  .footer__top {
    padding: 30px 0px;
  }

  .footer__bottom {
    padding: 10px 0px 15px;
  }

  .footer__top {
    -ms-grid-columns: 140px 1fr 1fr;
    grid-template-columns: 140px 1fr 1fr;
  }

  .footer__top-center,
  .footer__top-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 10px;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .footer__top {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }

  .footer__top-left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }

  .footer__top-center,
  .footer__top-right {
    padding: 0;
  }

  .footer__bottom-copy {
    font-size: 14px;
  }

  .footer__bottom p {
    font-size: 14px;
  }

  .footer__main-images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 500px) {
  .consultation-section {
    padding: 60px 0px 30px;
  }

  .hero__form-block-title {
    font-size: 20px;
  }

  .about-section__top-left-title,
  .about-section__bottom-right-title {
    font-size: 20px;
  }

  .consultation-section__left h3,
  .consultation-section__right h3 {
    font-size: 20px;
  }

  .consultation-section__left p,
  .consultation-section__right p {
    margin-bottom: 25px;
  }

  .register-form__body {
    padding: 60px 20px 30px;
  }

  .register-form__title {
    font-size: 22px;
  }

  .footer__top-right-navigation-menu a {
    font-size: 14px;
  }

  .footer__top-center-navigation-menu a {
    font-size: 14px;
  }

  .footer__top-center-navigation ul {
    gap: 10px;
  }

  .footer__top-right-navigation ul {
    gap: 10px;
  }

  .footer__main-image {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }
}